.container-list-movie {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: space-around;
  gap: 65px;
}

.movie-card-image {
  width: 140px; /* Ancho completo del póster */
  height: 200px; /* Altura automática para mantener la proporción */
  margin-left: 30px;
  margin-bottom: -6px;
}

.container-card-image {
  background-color: rgba(255, 255, 255, 0.552);
  border-radius: 10px;
  width: 200px;
}

.text-card-movie{
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
line-height: 0.3em;
}

.text-title {
  font-size: large;
  color: beige;
 
}

.text-card-year {
  font-size: small;
  opacity: 0.5;
}
