#seletFilter{
    background-color: #E43D4E;
    border: none;
    height: 40px;
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
}